{% extends 'base.html.twig' %}

{% block title %}Hello TshirtController!{% endblock %}

{% block body %}
{% for tshirt in tshirts %}
    <div>
        <p>{{ tshirt.color }}</p>
        <p>{{ tshirt.size }}</p>
        <a href="{{ path('tshirt_show',{ id : tshirt.id}) }}">voir plus</a>
        <a href="{{ path('tshirt_delete',{ id : tshirt.id}) }}">supp</a>
    </div>
    <hr>
{% endfor %}
{% endblock %}
