{% extends 'base.html.twig' %}

{% block title %}Hello TshirtController!{% endblock %}

{% block body %}
{% for tshirt in tshirts %}
    <div>
        <p>{{ tshirt.color }}</p>
        <p>{{ tshirt.size }}</p>
    </div>
    <hr>
{% endfor %}
{% endblock %}
